@charset "utf-8";
/*===================================================
  reset CSS
===================================================*/
html{overflow-y:scroll;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}table{border-collapse:collapse;border-spacing:0;}caption,th{text-align:left;}q:before,q:after{content:'';}object,embed{vertical-align:top;}hr,legend{display:none;}h1,h2,h3,h4,h5,h6{font-size:100%;}img,abbr,acronym,fieldset{border:0;}ul li{list-style-type:none;}a,label{cursor:pointer;}img{vertical-align:bottom;margin:0;padding:0;}

.clearfix:after {
  content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;
}

body {
  font-size: 76%;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

h1 {
  font-size: 0;
  background: url(../img/logo-sp.png) no-repeat 0 center;
  background-size: 200px auto;
  height: 50px;
  border-bottom: 5px solid #ffcc00;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
  height: auto;
}

.bx-wrapper .bx-controls-direction a {
  display: none;
}

/*===================================================
  header
===================================================*/

#header .inner {
  position: relative;
}

#header .btn_menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
}

.navigator {
  display: none;
}

.navigator li {
  border-bottom: 1px solid #ffffff;
}

.navigator li a {
  font-size: 117%;
  padding: 12px 0 12px 3.125%;
  color: #ffffff;
  display: block;
  background: #333333 url(../img/ico-arrow_off.png) no-repeat 97% center;
  background-size: 13px auto;
}

/*===================================================
  footer
===================================================*/

#footer {
  background: #000000;
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
}

/*===================================================
  backtop
===================================================*/

#backtop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  width: 50px;
}