@charset "utf-8";
/*===================================================
  reset CSS
===================================================*/
html{overflow-y:scroll;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}table{border-collapse:collapse;border-spacing:0;}caption,th{text-align:left;}q:before,q:after{content:'';}object,embed{vertical-align:top;}hr,legend{display:none;}h1,h2,h3,h4,h5,h6{font-size:100%;}img,abbr,acronym,fieldset{border:0;}ul li{list-style-type:none;}a,label{cursor:pointer;}img{vertical-align:bottom;margin:0;padding:0;}

.clearfix:after {
  content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;
}

body {
  font-size: 76%;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

h1 {
  font-size: 300%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #ff0000;
}

a:hover img {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

/*===================================================
  header
===================================================*/

#header .inner {
  padding: 30px 0;
  position: relative;
}

.navigator ul {
  padding-top: 10px;
  text-align: center;
}

.navigator li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}

.navigator li a {
  font-size: 117%;
}

/*===================================================
  footer
===================================================*/

#footer {
  padding: 15px 0;
}

/*===================================================
  backtop
===================================================*/

#backtop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}